:root {
    --color-danger-light: #dc2626;
    --color-danger-dark: #7f1d1d;
}

body {
    color: #fff;
    font-size: 14px;
    background: black;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

#healthBar {
    width: 150px;
    height: 14px;

    background-color:  var(--color-danger-dark);
    border: 1px solid #000;
    border-radius: 2px;
}

#healthBar::-moz-progress-bar {
    background-color: var(--color-danger-light);
}

#healthBar::-webkit-progress-value {
    background: var(--color-danger-light);
}

.log-line {
    font-size: 14px;
}

.text-danger {
    color: var(--color-danger-light);
}